body {
  background-color: lightgrey;
  font-family: "Roboto", sans-serif;
  background-image: url(cloudss.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.weather-app {
  background-color: white;
  max-width: 700px;

  margin: 40px auto;
  box-shadow: 0 30px 50px 20px rgba(66, 140, 79, 0.5);
  border-radius: 17px;
  padding: 30px;
}

a {
  color: #3cb371;
}

header {
  border-bottom: 1px solid #3cb371;
  padding: 20px;
  background-image: url(header.jpg);
}
main {
  background-color: #dff2e8;
}
.weather-details {
  opacity: 50%;
}
.search-form-input {
  background-color: ghostwhite;
  border: none;
  border-radius: 4px;
  width: 70%;
  padding: 15px 20px;
  font-size: 15px;
}
.search-form-button {
  background-color: #3cb371;
  padding: 15px 20px;
  border: none;
  border-radius: 3px;
  width: 20%;
  color: honeydew;
  font-size: 14px;
}

.weather-app-data {
  display: flex;
  justify-content: space-around;
  line-height: 20px;
}
.city-climate {
  background-color: rgb(171, 183, 196);
  border-radius: 10px;
}
.city-output {
  margin: 0;
  line-height: 50px;
}
.humidity {
  color: darkgreen;
  font-size: 20px;
}
.wind-speed {
  color: darkgreen;
  font-size: 20px;
}

.current-temp-container {
  background-color: rgb(171, 183, 196);
  border-radius: 10px;
  width: 240px;
  justify-content: space-around;
}
.temp {
  font-size: 70px;
  margin: 5px;
}

.forecast-data {
  display: flex;
  justify-content: space-evenly;
  line-height: 30px;
  text-align: center;
  font-size: 20px;

  opacity: 0.7;
}
.weather-forecast {
  background-color: aliceblue;
  border-radius: 15px;
}
.forecast-temperatures {
  display: flex;
  justify-content: space-around;
}
.forecast-temps {
  display: flex;
  justify-content: space-around;
  color: #0e582f;
}
.forecast-temp {
  padding: 4px;
}
footer {
  border-top: 1px solid #3cb371;
  padding: 20px;
  font-size: 10px;
  text-align: right;
  color: darkgreen;
  font-weight: 300;
  background-color: lightgrey;
}
